#WorldView_map {
    width: 600px;
    height: 400px;
    background: #eee;
}

#WorldView_tou {
    width: 600px;
    height: 15px;
    font-family: Trebuchet MS, Verdana;
    font-size: 8pt;
}

#WorldView_controls {
    width: 600px;
    height: 200px;
    background: #dfd;
}