#WorldView_map {
    min-width: 600px;
    height: 500px;
    background: #eee;
}

#WorldView_tou {
    min-width: 600px;
    height: 20px;
    font-family: Trebuchet MS, Verdana;
    font-size: 8pt;
}

#WorldView_controls {
    min-width: 600px;
    height: 200px;
    background: #dfd;
}
